#carouselExampleDark {
    width: 700px;
    margin-left: 24%;
    margin-top: 100px;

}
.carousel-inner {
    margin-top: 22px;
}


#divcrsl {
    width: 700px;
    height: 950px;
}

#imgcrsl {
    width: 600px;
    height: 800px;
}

.d-block {
    height: 550px;
}
#carouselExampleInterval {margin-left: 10%;}