$blackgradient: linear-gradient(to bottom, #ffffff, #ffffff);
$tittle-font: 50px;
$tittle-spacing: 5px;
$win-font: x-large ; 
$color-white:  #fafafa;
$letter-aliceblue: aliceblue;
$btn: (margin-left: 25%,
padding-bottom: 0%,
width: 200px,
height: 50px,
margin-top: 40px)