@import "./../layout/commingsoon";
@import "./../layout/tipografia";
@import "./../layout/footer.scss";
@import "./../layout/card.scss";
@import "./../layout/crsl";
@import "./../Variables/vars";
@import "./../layout/world";
@import "./../layout/aboutus";
@import "./../layout/outfits";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: $blackgradient;
}

.posicionarriba {
    position: fixed;
    width: 100%;
    top: 0px;

}

.centrado {
    text-align: center;
}

.fondoRosa {
    background-color: rgba(0, 0, 0, 0.37);
    z-index: 2; align-items: center;
}

.redondeado {
    border-radius: 10px;
}

.iframe {
    width: 90%;
    height: 80vh;
    margin: 5%;
 
}
@mixin menu2 ($position, $width, $top) {
    position: $position;
    width: $width;
    top: $top;
}

.menu2 {
    @include menu2 (absolute, 100%, 184px); z-index: 1;}

.menu {
    @include menu2 (fixed, 100%, 25px);
    height: 25%;
}

.menupage {
    margin-top: 170px;
}



.letrawhite {
    color: aliceblue;
}

.letratittle {
    font-family: "libre baskerbille italic";
    color: black;
}
.solicitud {width: 80%; height: 80%; margin-top: 20%; padding-left: 30%;}
.enviar {margin-left: 30%; margin-top: 10%;} 
.ancho {
    max-width: 500%;
    max-block-size: 100%;
}

.letra {
    font-family: "libre baskerbille italic";
    color: $color-white;
}
.pdc {  text-align: center;
    width: 90%;
    padding: 10%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;}

.accordion {
    z-index: 1 !important;
}
.pdc2 {
    text-align: center;
    width: 90%;
    padding: 10%;
 margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}


.btnn {
    margin-left: map-get($map: $btn, $key: margin-left);
    padding-bottom: map-get($map: $btn, $key: padding-bottom);
    width: map-get($map: $btn, $key: width);
    height: map-get($map: $btn, $key: height);
    margin-top: map-get($map: $btn, $key: margin-top);
}

.btn__section {
    @extend .btnn;
    margin-top: 30px;
    margin-left: 40%;
}

.abajo1{
    background: rgba(0, 0, 0, 0.815);
    transition: 3s; z-index: 6; 
}
.abajo{
    background: rgba(0, 0, 0, 0.801);
    transition: 4s;
    font-size: 40px !important;
   height: 20%; padding-top: -10px !important;
}
.menuscroll{
   margin-top: -50px; height: -10px; font-size: -5px;transition: 4s; z-index: 10;
}
.WIN {
    margin-top: 10%;
    color: black;
    padding-bottom: 50px;
    font-size: $win-font;
}

ul {
    list-style: none;
    font-size: 0px;
    margin-top: -3px;

    ul {
        position: absolute;
        display: none;
        width: 100%;
        margin-top: 25px;



        li {
            display: block;
           
        }
    }

}
.tittle {margin-bottom: 10%; margin-top: 10%;}
li {
    display: inline-block;
    width: 250px;
    position: relative;
    font-size: 14px;
    height: 50px;
    text-align: center;
   
}


ul li:hover ul {
    display: block;
    text-align: center;
    padding-left: 0%;
    background-color: rgba(0, 0, 0, 0.692);

}

.titulo {
    font-size: $tittle-font;
    margin-top: 0px;
    padding-bottom: 70px;
    display: inline;
    letter-spacing: $tittle-spacing;
    text-decoration: none;
    z-index: 3;  padding-top: 3%;
}

.img_kendall {
    margin-top: 3%;
    width: 100%;
    padding-right: 0%;
}

head {
    margin-top: 0%;
}

.imgsg {display: inline; width: 50%;margin-left: -8%; margin-top: 10%;}
.imgsg2 {display: inline; width: 50%; margin-right: -8%; }
.gif {width: 100%; margin-left: -8%; margin-top: 5%;}
.displaynone {display: none;}
.controls {
    width: 100%;
    border: 1px solid #d3b6cd;
    ;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #efefef;
    font-size: 14px;
    font-weight: bold;
}
.animate__slideInUp {animation-iteration-count: infinite;}
.buttons {
    width: 100%;
    height: 40px;
    background: #d3b6cd;
    border: none;
    color: rgb(0, 0, 0);
    margin-bottom: 16px;
}




.letrawhite {
    color: $letter-aliceblue;
}


.ulbackcolor {
    background-color: rgba(251, 251, 251, 0.5);
}

.letrablack {
    color: black;
}


.navbar-toggler {
    position: fixed;
}

.container-fluid {
    position: absolute;
}



#fondo2 {
    display: block;
    background-color: rgb(173, 95, 137);
    border-color: rgb(173, 95, 137);
    margin-top: 50px;
}

nav a {
  margin-top: 10px;
}






@media (min-width: 1200px) {

    body {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1 Fr);
        grid-template-rows: 2 Fr, 1 Fr, 1 Fr, 1 Fr, 1 Fr;
        grid-template-areas:
            "header header"
            "content content"
            "content content"
            "section section"
            "footer footer";
    }

    header {
        display: grid;
        grid-area: header;
        flex-direction: row;
    }

    main {
        display: inline-flex;
        grid-area: content;
        justify-content: center;
        padding: 0;



    }

    footer {
        display: inline-block;
        grid-area: footer;
        justify-content: center;
        align-items: center;

    }

    section {
        grid-area: section;
        align-items: center;
    }

    .menu3 {
        display: none;
    }

    #gridimg {
        width: 900px !important;
        height: 500px;
    }

}

@media (max-width: 500px) {

    * {
        padding: 0;
        margin: 0;
    }


    body {
        display: grid;
        padding: 0;
        grid-template-columns: repeat(2, 1 Fr);
        grid-template-rows: 2 Fr, 4 Fr, 4 Fr, 6 Fr, 1 Fr;
        grid-template-areas:
            "header header"
            "content content"
            "content content"
            "section section"
            "footer footer";
    }

    header {
        display: grid;
        grid-area: header;
        flex-direction: row;

    }

    nav {
        width: 100%;
        margin: 0;
    }



    .fondoRosa {
        width: 100% !important;
    }


    .grid figure {

        width: 80% !important;
        height: 100%;
        margin: 0;
    }

    main {
        display: grid;
        grid-area: content;
        padding: 0;
        flex-direction: row;
        width: 100%;

    }

    footer {
        display: inline-block;
        grid-area: footer;
        justify-content: center;
        align-items: center;


    }


    section {
        grid-area: section;
        align-items: center;

    }

    .img_kendall {
        margin-top: 30px;
    }

    #gridimg {
        width: 100% !important;
        height: 50%;
    }

    

    .gridc figure {
        width: 80%;
        height: 80%;
    margin: 10%;
    }

    .iframe1 {
        width: 90%;
        height: 40vh;
        margin: 5%;
        margin-top: 100%;
        
    }
    .iframe {
        width: 90%;
        height: 40vh;
        margin: 5%;
       
    }

    .formc {
        width: 100% !important;
        height: 50%;
        padding: 0%;
        position: absolute;
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
        margin-left: 0;
       
    }
    .image img{
        width: 100%;
        height: 100%;
        animation: 0.4s;
    }

    .letratittle {
        font-family: "libre baskerbille italic";
        color: black;
    }
    .wrap{
        width:100%;
        
        padding: 0px 0;
        
    } .image{
        flex: 50%;
        overflow: hidden;
     
    }
    .image:hover img{
        width: 300px; height: 700px; position: absolute;
    }
    .container{
        width: 100%;
        max-width: 450px;
        margin: auto;
        padding: 0 0px;
    }
 
    .grid{max-width: 500px;}

    .grid figure {max-width: 500px; max-height: 400px;}

    .grid1 figure{max-width: 500px; max-height: 600px !important;}


    .tittlenoticecard {margin-top: 0%;}
    .fondoRosa {
        width: 100% !important;
        height: 4%;
    }
   
    #gridimg1{ width: 100%; height: 300px; }

    .cardd {
        justify-content: center;
        width: 80%;
        padding: 20px;
        text-align: center;
        margin: 0;
        height: 100%;
        margin-left: 5%;

    }

    .btnn {
        width: 50%;
        height: 10%;
    }
  
    #carouselExampleDark {
        margin: 0 !important;
    }

    #crsl2 {
        margin: 0 !important;
    }

    #contentt {
        margin: 0 !important;
        width: 100% !important;

    }

    #CST {
        font-size: small;
        margin-bottom: 0px;
        margin-top: 50px;
        margin-left: 0 !important;
    }

    #motivo {
        width: 100%;
        height: 35px;
    }

    #visa2 {
        width: 50px;
       
    }

    #CST2 {
        font-size: small;
        margin-bottom: 0px;
        margin-top: 50px;
        margin-left: 50vh
    }

    .titulo {
        height: 32%; padding-top: 11% !important; font-size: 35px !important;
       }

#mdepago{margin-left: 17%; margin-right: 17%;}

    .formc {
        width: 100%;
     padding: 10%;
        background-color: rgb(255, 255, 255);
        margin-top: 10%; z-index: 1; text-align: center;
    }

    #input2 {
        width: 40%;
        height: 30px;
        margin-bottom: 15px;
        margin-left: 20px;
        padding: 10px;
        display: inline-block;
    }
#input3 {width: 25%; height: 30px; margin-left: 5px;}


    #email {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        margin-left: 20px;
        padding: 10px;
    }

    legend {
        margin-bottom: 60px;
        margin-top: 20px;
    }

    .cardd-left {
        width: 80%;
        height: 300px;
        display: inline;
       
    }
    .cardd-img {
        width: 80%;
        height: 300px;
        margin-bottom: 0; margin-left: 5%;
    }

    .accordion-button {

        font-size: x-large;
        width: 100%;
        padding-left: 20%;
    }



    .accordion {
        margin-top: 100px;
    }

    table {
        border: solid 1px black;
        margin-left: 22%;
        width: 85%;
        height: 350px;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    tbody {
        text-align: start;
    }

    th {
        border: solid 1px black;
    }

    tr {
        border: solid 1px black;
    }

    td {
        border: solid 1px black;
        padding: 20px;
    }

    .pdc2 {
        text-align: center;
        width: 90%;
        padding: 5%;
    
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .grid {
        margin: 0 !important;
        max-width: 100% !important;
    }

    .card2 {
        margin-right: 40%;
    }

    #imgcrsl {
        height: 400px;
    }

.btn-form {margin: 40%;}
    .btnn {
      margin: auto;
    }

    #carouselExampleDark {
        width: 70%;
        margin-left: 70px !important;
        margin-top: 100px;
        align-self: center;
    }
legend {margin-left: 0%;}
    .card__name {
        margin-right: 25%;
    }

    .navbar-toggler {
        width: 45px;
        height: 45px;
        margin: 0 !important;
        padding: 0;
    }

    .offcanvas-body {
        width: 100% !important;

    }

    .navbar-toggler-icon {
        width: 35px !important;
        height: 30px !important;
    }

    body {
        background-image: none;
    }

    .menu {
        margin-left: 0;
        width: 100% !important;
        height: 25%;
        padding-top: 15%;
    }

    .menu2 {
        display: none;
        width: 100%;
        height: 20vh;
    }

    .d-block {
        height: 400px;
    }

    .accordion-body {
        width: 100%;
        z-index: 1 !important;
     
    }

    table {
        margin-left: 8%;
    }

    ul {
        margin-left: 0%;
    }

    #CST {
        margin-left: 10% !important;
    }
    .margin{
        margin-top: 20%
    }
    #visa {
        width: 50px;
        margin-left: 0px;
    }

    #visa2 {
        width: 50px;
    display: inline-block;
    

    } 
    .marginaccordion {margin-top: 80% !important;}

  .btn__section {
        padding-bottom: 0%;
        width: 10vh;
        height: 50px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .card__image2 {
        margin: auto
    }

    .card__description {
        margin-top: 10px;
        text-align: center;
        margin-left: 0px;
    }

    .card__name2 {
        margin-left: 0;
    }

.aboutus {margin-top: 80% !important; padding-top: 60px; line-height: 50px; height: 100%;}
.imgst {margin-top: 70%; margin-left: 44%; width: 60px; height: 60px;}

}

a:hover { 
    color: white;
}


.animate__heartBeat {
    animation-iteration-count: infinite;
}

nav ul {
    padding-left: 160px;

    li {
        font-size: 16px;
        color: white;
    

        a {
            display: inline;
            color: #fff;
            text-decoration: none;
            margin-top: 10px;
        }
    }
}

nav ul li:hover {
    background: rgba(18, 18, 18, 0.538);
}


.offcanvas-body {
    background-color: rgb(0, 0, 0);
}

#navbarr {
    margin-top: 50px;
}

.nav-item {
    height: 80px;
}

#nav-link {
    font-size: large;
    text-align: center;
    font-family: "libre baskerbille italic";
    padding-top: 20px;
}

#fondo {
    background-color: rgb(173, 95, 137);
    border-color: rgb(173, 95, 137);
}



#volveralI {
    margin-left: 45%;
}

#VaI {
    margin-top: 50px;
    margin-bottom: 50px;
}


#contentt {
    margin-left: 184px;
    margin-top: 100px;
}

#volveralI {
    margin-left: 48%;
}

#VaI {
    margin-top: 50px;
    margin-bottom: 50px;
}

.arriba {
    width: 60px;
    margin-left: 15px;
    margin-right: 90%;
    position: fixed;
    margin-top: 500px;
    z-index: 2;
}
