* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "libre baskerbille italic";
    src: url("./../Fonts/LibreBaskerville-Italic.ttf");
}

@font-face {
    font-family: "libre basrkerbille bold";
    src: url("./../Fonts/LibreBaskerville-Bold.ttf");
}

@font-face {
    font-family: "libre baskerbille regular";
    src: url("./../Fonts/LibreBaskerville-Regular.ttf");
}

.posicionarriba {
    position: fixed;
    width: 100%;
    top: 0%;
z-index: 3;
}

.centrado {
    text-align: center;
}

.fondoRosa {
    background-color: rgba(0, 0, 0, 0.534);

}

.redondeado {
    border-radius: 10px;
}

.interlineadoGrande {
    line-height: 500%;
}

.subrayadoArriba {
    text-decoration: overline;
}

.subrayadoAbajo {
    text-decoration: underline;
}

.Espacioalaizquierda {
    padding-left: 45%;
}

.menu {
    position: fixed;
    width: 100%;
    top: 24px;
    height: 25%;
z-index: 3 !important;
}
.accordion {z-index: 1 !important;}
.menu2 {
    position: absolute;
    width: 100%;
    top: 190px;

}

.letrawhite {
    color: aliceblue;
}

nav ul {
    padding-left: 160px;

}

nav ul li {
    font-size: 16px;
    color: white;
    padding-top: 10px;

}

nav ul li a {
    display: inline;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: rgba(18, 18, 18, 0.538);
}

.fondonegro {
    background-color: rgba(0, 0, 0, 0.455);
}

.ancho {
    max-width: 500%;
    max-block-size: 100%;
}

.letra {
    font-family: "libre baskerbille italic";
    color: rgb(250, 250, 250);
    font-size: large;
}

.letra2 {
    font-family: "libre baskerbille italic";
    color: rgb(0, 0, 0);
}

.cardd {
    width: 45%;
    background-color: rgb(239, 232, 232);
    height: 700px;
    display: inline-block;

}

.card2 {
    width: 50%;
    padding-left: 50px;
    display: block;
}

.card__image {
    width: 95%;
    padding: 10px 20px 10px 55px;
    height: 70%;
}

.card__image2 {
    width: 100%;
    ;
}

.card__description {
    margin-top: 10px;
    text-align: center;
}

.card__name {
    font-family: "libre baskerbille italic";
    text-align: center;
    margin-top: 5%;
}

.btnn {
    padding-bottom: 0%;
    width: 200px;
    height: 50px;
    margin-top: 30px;

}

.WIN {
    margin-top: 10%;
    color: black;
    padding-bottom: 50px;
}

a:hover {
    color: white;
}

.titulo {
    font-size: xx-large;
    margin-top: 0px;
    display: inline;
    letter-spacing: 5px;
    text-decoration: none;
}

head {
    margin-top: 0%;
}

.menupage {
    margin-top: 170px;
    width: 100%;
}

#volveralI {
    margin-left: 48%;
}

#VaI {
    margin-top: 160px;
}

.crslb {
    position: relative;
    margin-top: 200px;
    margin-bottom: 50px;
    height: 550px;

}

.letrawhite {
    color: rgb(255, 255, 255);
}

.d-block {
    height: 550px;
    background-image: linear-gradient(to bottom, black, white);
}

.ulbackcolor {
    background-color: rgba(251, 251, 251, 0.5);
}

.letrablack {
    color: black;
}

#mdepago {
    margin-top: 300px;
    margin-left: 50px;
}

#visa {
    width: 40px;
    margin-left: 450px;

}

#mastercard {
    width: 50px
}

#CST {
    font-size: small;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-left: 550px
}

body {
    position: relative;
}

ul {
    list-style: none;
    font-size: 0px;
}

li {
    display: inline-block;
    width: 250px;
    position: relative;
    font-size: 14px;
    height: 50px;
    text-align: center;

}

ul ul {
    position: absolute;
    display: none;
    width: 100%;
    margin-top: 20px;
}

ul ul li {
    display: block;
    padding: 10px;
    background-color: rgba(81, 81, 81, 0.319);
}

ul li:hover ul {
    display: block;
    text-align: center;
    padding-left: 0%;

}

#fondo2 {
    display: block;
    background-color: rgb(173, 95, 137);
    border-color: rgb(173, 95, 137);
    margin-top: 50px;
}

.formc {
    width: 100%;
    height: 800px;
    padding-left: 30%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

#input2 {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 10px;
    display: inline-block;
}

#email {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 10px;
}

legend {
    margin-bottom: 60px;
    margin-top: 20px;
}

.letra2 {
    font-family: "libre baskerbille italic";
    color: rgb(0, 0, 0);
}

.accordion-button {
    padding-left: 42%;
    font-size: x-large;
}

#motivo {
    width: 500px;
    height: 30px;
}

.accordion {
    margin-top: 100px; width: 100%; 
}

table {
    border: solid 1px black;
    margin-left: 22%;
    width: 700px;
    height: 350px;
    margin-top: 200px;
    margin-bottom: 200px;
}

tbody {
    text-align: start;
}

th {
    border: solid 1px black;
}

tr {
    border: solid 1px black;
}

td {
    border: solid 1px black;
    padding: 20px;
}

.pdc {
    text-align: center;
    width: 900px;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
}

#mdepago2 {

    margin-top: 100px;

}

#visa2 {
    width: 50px;
    margin-left: 60px;
}

#CST2 {
    font-size: small;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-left: 140px
}

.iframe {
    padding: 160px;
}

.sctn {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), white);
}

.offcanvas-body {
    background-color: rgb(0, 0, 0);
}

.carousel-inner {
    margin-top: 22px;
}

#navbarr {
    margin-top: 50px;
}

.nav-item {
    height: 80px;
}

#nav-link {
    font-size: large;
    text-align: center;
    font-family: "libre baskerbille italic";
    padding-top: 20px;
}

#fondo {
    background-color: rgb(173, 95, 137);
    border-color: rgb(173, 95, 137);
}


.animate__heartBeat {
    animation-iteration-count: infinite;
}

.div {
    margin-top: 250px;
}

#mnu {
    text-align: center;
    padding-top: 30px;
}

figure.effect-bubba {
    background: #9e5406;
}

figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.effect-bubba h2 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'feathericons';
    src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
    src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
        url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
        url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
        url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 40px;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 1000px;
    max-height: 1000px;
   
    background: #010101;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

#gridimg {
    width: 600px;
    height: 500px;
}

@media (min-width: 1200px) {

    body {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1 Fr);
        grid-template-rows: 2 Fr, 20 Fr, 3 Fr;
        grid-template-areas:
            "header header"
            "section section"
            "footer footer"
        ;
    }

    header {
        display: grid;
        grid-area: header;
        width: 100%;
        flex-direction: row;
    }

    .menu2 {
        width: 100%;
        margin-left: 0;

    }

    section {
        grid-area: section;
        display: grid;
    }

    footer {
        grid-area: footer;
        display: grid;
        flex-direction: row;
    }

    * {
        padding: 0;
        margin: 0;
    }

    #contentt {
        margin-left: 150px;
        margin-top: 100px;
    }

   .tmñimg {
        width: 90%;
        height: 500px;
    } 

    .row {
        width: 90%;
        height: 70%;
        margin-left: 5%;
    }

    .col {
        width: 50%;
        height: 50%;
    }

    .card {
        margin-bottom: 300px;
        padding: 10px;
        align-items: center;
    }

    ul li:hover {
        background: rgba(18, 18, 18, 0.538);
    }

    #nav-item {
        height: 50px;
    }
    #gridimg {
        width: 900px !important;
        height: 500px;
    }
    
    .menu3 {
        display: none;
    }

}

@media (max-width: 458px) {

*{padding: 0;margin: 0;}
    body {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1 Fr);
        grid-template-rows: 2 Fr, 20 Fr, 1 Fr;
        grid-template-areas:
            "header header"
            "section section"
            "footer footer"
        ;
    }

    header {
        display: grid;
        grid-area: header;
        width: 100%;
        padding: 0;
        flex-direction: row;
    }

    section {
        grid-area: section;
    }

    footer {
        grid-area: footer;
        display: grid;
        flex-direction: row;
    }

    .menu2 {
        display: none;

    }
    .grid {
     
        padding: 100px; margin-top: 200px;
      
    }
    .menu {
        height: 10%;
    }


    .card {
        width: 70% !important;
        height: auto;
        display: block;
        margin-bottom: 0;
        margin-left: 20px;
    }

    #mnu {
        margin-left: 35%;
        margin-top: 10px;
        margin-bottom: 20px;

    }

    #visa {
        width: 50px;
        margin-left: 40%;
    }

    #fondo {
        width: 100px;
        height: 35px;
    }

    #navbarr {
        margin-top: 20px !important;
    }

    .btnn {
        margin-left: 10%;
    }

    .btn {
        width: 300px;
        height: 100px;
    }

    #CST {
        margin-left: 23%;
    }

    .d-block {
        height: 300px;
        background-image: linear-gradient(to bottom, black, white);
    }

    .menu2 {
        margin-top: 60px;
    }

    #contentt {
        align-self: center;
    }

    .div {
        margin-left: 10%;
    }

    .menu3 {
        display: block;
    }
    #CST {
        margin-left: 10% !important;
    }

    #visa {
        width: 50px;
        margin-left: 0px;

    }
}
/*outfits*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width:100%;
    
    padding: 50px 0;
    
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.container h1{
    text-align: center;
}
.container .line{
    width: 180px;
    height: 4px;
    background-color: #333;
    margin: 50px auto;
}
.images{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.image{
    flex: 25%;
    overflow: hidden;
 
}
.image img{
    width: 100%;
    height: 100%;
    animation: 0.4s;
}
.image:hover img{
    width: 500px; height: 700px; position: absolute;
}
.arriba {width: 60px; margin-left: 15px; margin-right: 90%; position: fixed; margin-top: 500px;}
.tittlepage {margin-top:150px ;}
.subtittlepage {margin-top: 80px;}
.aboutus {margin-top: 350px; background-color: white; width: 100%; margin-left: 0; position: relative; height: 900px; margin-bottom: 600px; padding-top: 200px; padding-right: 50px; padding-left: 50px; line-height: 60px;}
.imgaboutus {width: 100%; height: 70%; position:fixed;}
.imgst {position: absolute; margin-top: 300px; margin-left: 47%; width: 80px; height: 80px; z-index: 2;}

