@charset "UTF-8";
.gridc {
  position: relative;
  margin: 0;
  padding: 1em 0 4em;
  max-width: 100%;
  list-style: none;
  justify-content: center; }

.gridc figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  max-height: 100%;
  width: 80%;
  background: #262627;
  text-align: center;
  cursor: pointer; }

.gridc figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.gridc figure figcaption {
  padding: 2em;
  color: white;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.gridc figure figcaption::before,
.gridc figure figcaption::after {
  pointer-events: none; }

.gridc figure figcaption,
.gridc figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gridc figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.gridc figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.gridc figure h2 span {
  font-weight: 800; }

.gridc figure h2,
.gridc figure p {
  margin: 0; }

.gridc figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

figure.effect-lily figcaption {
  text-align: left; }

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%; }

figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0); }

figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }

figure.effect-lily p {
  color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s; }

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1; }

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s; }

#contentt {
  justify-items: center; }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src: url("../fonts/feathericons/feathericons.eot?-8is7zf");
  src: url("../fonts/feathericons/feathericons.eot?#iefix-8is7zf") format("embedded-opentype"), url("../fonts/feathericons/feathericons.woff?-8is7zf") format("woff"), url("../fonts/feathericons/feathericons.ttf?-8is7zf") format("truetype"), url("../fonts/feathericons/feathericons.svg?-8is7zf#feathericons") format("svg"); }

@font-face {
  font-family: "libre baskerbille italic";
  src: url("./../Fonts/LibreBaskerville-Italic.ttf"); }

@font-face {
  font-family: "libre basrkerbille bold";
  src: url("./../Fonts/LibreBaskerville-Bold.ttf"); }

@font-face {
  font-family: "libre baskerbille regular";
  src: url("./../Fonts/LibreBaskerville-Regular.ttf"); }

#mdepago {
  margin-top: 100px;
  text-align: center;
  z-index: 2 !important;
  align-content: space-around; }

#visa {
  width: 50px;
  margin-left: 370px;
  z-index: 3 !important; }

#mastercard {
  width: 50px; }

#CST {
  font-size: small;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
  z-index: 2;
  color: #fafafa; }

#motivo {
  width: 40%;
  height: 35px;
  display: inline; }

.formc {
  width: 100%;
  position: relative;
  background-color: white;
  margin-top: 100px;
  z-index: 1;
  padding-bottom: 10%;
  text-align: center; }

.formc2 {
  width: 100%;
  padding: 10%;
  background-color: white;
  z-index: 1;
  text-align: center;
  margin-top: 0;
  height: 100%; }

#input2 {
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 10px;
  display: inline-block; }

#email {
  width: 400px;
  height: 40px;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 10px; }

legend {
  margin-bottom: 60px;
  margin-top: 20px;
  margin-left: 50%; }

.accordion-button {
  padding-left: 42%;
  font-size: x-large;
  background-color: black; }

.accordion-collapse {
  z-index: 1 !important; }

.collapse {
  z-index: 1 !important; }

.accordion-item {
  z-index: 1; }

#flush-collapseThree {
  z-index: 1 !important; }

.accordion {
  margin-top: 100px;
  z-index: 1 !important; }

.accordion-body {
  width: 100%;
  z-index: 1 !important; }

.accordion-button {
  z-index: 1 !important; }

.collapsed {
  z-index: 1 !important; }

table {
  border: solid 1px black;
  margin-left: 20%;
  width: 60%;
  height: 350px;
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center; }

tbody {
  text-align: start; }

th {
  border: solid 1px black; }

tr {
  border: solid 1px black; }

td {
  border: solid 1px black;
  padding: 20px; }

.pdc {
  text-align: center;
  width: 900px;
  margin-left: 15%;
  margin-top: 200px;
  margin-bottom: 100px; }

#fondo2 {
  display: block !important;
  background-color: #ad5f89;
  border-color: #ad5f89;
  margin-top: 50px;
  text-align: center !important; }

.divdomic {
  display: inline-flex;
  margin-bottom: 5%; }

footer {
  background-color: black;
  position: relative;
  margin-top: 5%; }

.colorwhite {
  filter: opacity(0.5) drop-shadow(0 0 0 white); }

.card {
  width: 75% !important;
  height: auto;
  display: block;
  margin: auto;
  text-align: center; }

.cardd {
  width: 47%;
  background-color: white;
  height: 700px;
  display: inline-block;
  padding-left: 5%;
  margin-left: 5px;
  justify-content: center;
  text-align: center; }

.cardd-left {
  width: 40%;
  height: 700px;
  display: inline; }

.cardd-img {
  width: 40%;
  height: 700px;
  margin-bottom: 46%;
  overflow: hidden !important; }

.card2 {
  width: 50%;
  padding-left: 30px;
  display: block; }

.card__image {
  width: 85%;
  height: 70%;
  align-self: center;
  overflow: hidden !important; }

.card__image2 {
  width: 100%;
  margin-left: 30px; }

.card__description {
  margin-top: 10px;
  text-align: center;
  margin-left: 30px; }

.card__name2 {
  font-family: "libre baskerbille italic";
  margin-top: 5%; }

.card__namee {
  font-family: "libre baskerbille italic";
  margin-top: 5%;
  text-align: center; }

.card2 {
  margin-top: 30px;
  margin-left: 20%; }

.mnu {
  margin-left: 40%;
  padding-top: 30px; }

.tmñimg {
  width: 90%;
  height: 75vh; }

.card-body {
  justify-content: center !important; }

#carouselExampleDark {
  width: 700px;
  margin-left: 24%;
  margin-top: 100px; }

.carousel-inner {
  margin-top: 22px; }

#divcrsl {
  width: 700px;
  height: 950px; }

#imgcrsl {
  width: 600px;
  height: 800px; }

.d-block {
  height: 550px; }

.carousel-control-prev-icon {
  color: black !important; }

#carouselExampleInterval {
  margin: 10% !important;
  width: 90%;
  height: 20%; }

figure.effect-bubba {
  background: #3b3b3b; }

figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.effect-bubba:hover img {
  opacity: 0.4; }

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0); }

figure.effect-bubba h2 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.crslb {
  position: relative;
  margin-top: 200px;
  margin-bottom: 50px;
  height: 550px; }

.grid {
  position: relative;
  margin: 0;
  padding: 40px;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  display: inline; }

.grid1 {
  position: relative;
  margin: 0;
  padding: 40px;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  display: inline; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 1000px;
  max-height: 1000px;
  background: #010101;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0%; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

.grid1 figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 1000px;
  max-height: 1000px;
  background: #010101;
  text-align: center;
  cursor: pointer; }

.grid1 figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid1 figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid1 figure figcaption::before,
.grid1 figure figcaption::after {
  pointer-events: none; }

.grid1 figure figcaption,
.grid1 figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.grid1 figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid1 figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid1 figure h2 span {
  font-weight: 800; }

.grid1 figure h2,
.grid1 figure p {
  margin: 0%; }

.grid1 figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

#gridimg1 {
  width: 600px; }

.tittlenoticecard {
  margin-top: 70%; }

.imgnotice1 {
  width: 40%;
  height: 60%;
  display: inline-block;
  margin-top: 0; }

.tittlenotice {
  justify-content: end;
  width: 50%;
  display: inline-block;
  margin-top: 60%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 2%; }

.tittlepage {
  margin-top: 350px; }

.subtittlepage {
  margin-top: 350px; }

.aboutus {
  margin-top: 30% !important;
  background-color: white;
  width: 100%;
  margin-left: 0;
  position: relative;
  height: 70%;
  margin-bottom: 600px;
  padding-top: 200px;
  padding-right: 100px;
  padding-left: 100px;
  line-height: 80px;
  font-size: x-large; }

.imgaboutus {
  width: 100%;
  height: 80% !important;
  position: fixed; }

.imgst {
  position: absolute;
  margin-top: 350px;
  width: 120px;
  height: 120px;
  z-index: 2;
  margin-left: 45%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrap {
  width: 100%;
  padding: 50px 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; }

.container h1 {
  text-align: center; }

.container .line {
  width: 180px;
  height: 4px;
  background-color: #333;
  margin: 50px auto; }

.images {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center; }

.image {
  flex: 25%;
  overflow: hidden; }

.image img {
  width: 100%;
  height: 100%;
  animation: 0.4s; }

.image:hover img {
  width: 400px;
  height: 700px;
  position: absolute; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(to bottom, #ffffff, #ffffff); }

.posicionarriba {
  position: fixed;
  width: 100%;
  top: 0px; }

.centrado {
  text-align: center; }

.fondoRosa {
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 2;
  align-content: center; }

.redondeado {
  border-radius: 10px; }

.iframe {
  width: 90%;
  height: 80vh;
  margin: 5%; }

.menu2 {
  position: absolute;
  width: 100%;
  top: 184px;
  z-index: 1; }

.menu {
  position: fixed;
  width: 100%;
  top: 25px;
  height: 25%; }

.menupage {
  margin-top: 170px; }

textarea {
  display: block;
  width: 100%; }

.letrawhite {
  color: aliceblue; }

.d-block {
  overflow: hidden !important; }

.letratittle {
  font-family: "libre baskerbille italic";
  color: black; }

.solicitud {
  width: 50%;
  height: 50%;
  margin-top: 20%;
  margin-left: 25%; }

.enviar {
  text-align: center; }

.ancho {
  max-width: 500%;
  max-block-size: 100%; }

.accordion-body li {
  display: block;
  margin-top: 5%;
  margin-bottom: 0; }

.letra {
  font-family: "libre baskerbille italic";
  color: #fafafa; }

.pdc {
  text-align: center;
  width: 90%;
  padding: 10%;
  margin-left: 5% !important;
  margin-top: 10%;
  margin-bottom: 10%; }

.accordion {
  z-index: 1 !important; }

.pdc2 {
  text-align: center;
  width: 90%;
  padding: 8%;
  margin-left: 5%;
  padding-top: 0; }

.btnn, .btn__section {
  padding-bottom: 0%;
  width: 120px;
  height: 50px;
  margin-top: 40px; }

.btn__section {
  margin-top: 30px;
  margin-left: 40%; }

.abajo1 {
  background: rgba(0, 0, 0, 0.815);
  transition: 3s;
  z-index: 6; }

.abajo {
  background: rgba(0, 0, 0, 0.801);
  transition: 3s;
  font-size: 40px !important;
  height: 20%;
  padding-top: -10px !important; }

.menuscroll {
  margin-top: -50px;
  height: -10px;
  font-size: -5px;
  transition: 4s;
  z-index: 10; }

.WIN {
  margin-top: 20%;
  color: black;
  padding-bottom: 50px;
  font-size: x-large; }

ul {
  list-style: none;
  font-size: 0px;
  margin-top: -5px; }
  ul ul {
    position: absolute;
    display: none;
    width: 100%;
    margin-top: 25px;
    align-items: center; }
    ul ul li {
      display: block;
      align-items: center; }

.tittle {
  margin-bottom: 5%;
  margin-top: 10%;
  text-align: center; }

li {
  display: inline-block;
  width: 250px;
  position: relative;
  font-size: 14px;
  height: 50px;
  text-align: center; }

ul li:hover ul {
  display: block;
  text-align: center;
  padding-left: 0%;
  background-color: rgba(0, 0, 0, 0.692); }

.titulo {
  font-size: 50px;
  margin-top: 0px;
  padding-bottom: 70px;
  display: inline;
  letter-spacing: 5px;
  text-decoration: none;
  z-index: 3;
  padding-top: 3%; }

.img_kendall {
  margin-top: 3%;
  width: 100%;
  padding-right: 0%; }

head {
  margin-top: 0%; }

.imgsg {
  display: inline;
  width: 50%;
  margin-top: 10%; }

.imgsg2 {
  display: inline;
  width: 50%;
  margin-right: -8%;
  overflow: hidden; }

.gif {
  width: 100%;
  margin-top: 20%; }

.displaynone {
  display: none; }

.controls {
  width: 100%;
  border: 1px solid #d3b6cd;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #efefef;
  font-size: 14px;
  font-weight: bold; }

.animate__slideInUp {
  animation-iteration-count: infinite; }

.buttons {
  width: 100%;
  height: 40px;
  background: #d3b6cd;
  border: none;
  color: black;
  margin-bottom: 16px; }

.letrawhite {
  color: aliceblue; }

.ulbackcolor {
  background-color: rgba(251, 251, 251, 0.5); }

.letrablack {
  color: black; }

.navbar-toggler {
  position: fixed; }

.container-fluid {
  position: absolute; }

#fondo2 {
  display: inline !important;
  background-color: #ad5f89;
  border-color: #ad5f89;
  margin-top: 50px;
  text-align: center !important; }

nav a {
  margin-top: 10px; }

@media (min-width: 800px) {
  body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1 Fr);
    grid-template-rows: 2 Fr, 1 Fr, 1 Fr, 3 Fr, 1 Fr;
    grid-template-areas: "header header" "content content" "content content" "section section" "footer footer"; }
  header {
    display: grid;
    grid-area: header;
    flex-direction: row; }
  main {
    display: inline-flex;
    grid-area: content;
    justify-content: center;
    padding: 0; }
  footer {
    display: inline-block;
    grid-area: footer;
    justify-content: center;
    align-items: center; }
  section {
    grid-area: section;
    align-items: center; }
  .menu3 {
    display: none; }
  #gridimg {
    width: 900px !important;
    height: 500px; } }

@media (max-width: 500px) {
  * {
    padding: 0;
    margin: 0; }
  body {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1 Fr);
    grid-template-rows: 2 Fr, 4 Fr, 4 Fr, 6 Fr, 1 Fr;
    grid-template-areas: "header header" "content content" "content content" "section section" "footer footer"; }
  header {
    display: grid;
    grid-area: header;
    flex-direction: row; }
  nav {
    width: 100%;
    margin: 0; }
  .fondoRosa {
    width: 100% !important; }
  .grid figure {
    width: 80% !important;
    height: 100%;
    margin: 0; }
  main {
    display: grid;
    grid-area: content;
    padding: 0;
    flex-direction: row;
    width: 100%; }
  footer {
    display: inline-block;
    grid-area: footer;
    justify-content: center;
    align-items: center; }
  section {
    grid-area: section;
    align-items: center; }
  .img_kendall {
    margin-top: 30px; }
  #gridimg {
    width: 100% !important;
    height: 50%; }
  .gridc figure {
    width: 80%;
    height: 80%;
    margin: 10%; }
  .iframe1 {
    width: 90%;
    height: 40vh;
    margin: 5%;
    margin-top: 100%; }
  .iframe {
    width: 90%;
    height: 40vh;
    margin: 5%; }
  .formc {
    width: 100% !important;
    height: 50%;
    padding: 0%;
    position: absolute;
    background-color: white;
    margin-top: 20px;
    margin-left: 0; }
  .image img {
    width: 100%;
    height: 100%;
    animation: 0.4s; }
  .letratittle {
    font-family: "libre baskerbille italic";
    color: black; }
  .wrap {
    width: 100%;
    padding: 0px 0; }
  .image {
    flex: 50%;
    overflow: hidden; }
  .image:hover img {
    width: 300px;
    height: 700px;
    position: absolute; }
  .container {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 0 0px; }
  .grid {
    max-width: 500px; }
  .grid figure {
    max-width: 500px;
    max-height: 400px; }
  .grid1 figure {
    max-width: 500px;
    max-height: 600px !important; }
  .tittlenoticecard {
    margin-top: 0%; }
  .fondoRosa {
    width: 100% !important;
    height: 4%; }
  #gridimg1 {
    width: 100%;
    height: 300px; }
  .cardd {
    justify-content: center;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: 0;
    height: 90%;
    margin-left: 5%; }
  .solicitud {
    width: 80%;
    height: 80%;
    margin-top: 50%;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 0; }
  .imgsg {
    margin-left: 3%; }
  .imgsg2 {
    margin-right: -5%;
    margin-left: -2%;
    height: 62vh; }
  .gif {
    margin-left: 5%;
    width: 90%;
    margin-top: 20%; }
  .btnn, .btn__section {
    width: 50%;
    height: 20%; }
  #carouselExampleDark {
    margin: 0 !important; }
  #crsl2 {
    margin: 0 !important; }
  #contentt {
    margin: 0 !important;
    width: 100% !important; }
  #CST {
    font-size: small;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-left: 0 !important; }
  #motivo {
    width: 100%;
    height: 35px; }
  .titulo {
    height: 32%;
    padding-top: 14% !important;
    font-size: 35px !important; }
  .formc {
    width: 100%;
    padding: 10%;
    background-color: white;
    z-index: 2 !important;
    text-align: center;
    margin-top: 0; }
  #input2 {
    width: 40%;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 10px;
    display: inline-block; }
  #input3 {
    width: 70px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px; }
  .divdomic {
    display: inline-flex;
    margin-right: 0%;
    margin-bottom: 5%;
    margin-left: 15%; }
  #email {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 10px; }
  legend {
    margin-bottom: 60px;
    margin-top: 20px; }
  .cardd-left {
    width: 80%;
    height: 300px;
    display: inline; }
  .cardd-img {
    width: 80%;
    height: 300px;
    margin-bottom: 0;
    margin-left: 5%; }
  .accordion-button {
    font-size: x-large;
    width: 100%;
    padding-left: 20%; }
  .pdc {
    padding: 5%; }
  .accordion {
    margin-top: 100px; }
  table {
    border: solid 1px black;
    margin-left: 22%;
    width: 85%;
    height: 350px;
    margin-top: 10%;
    margin-bottom: 10%; }
  tbody {
    text-align: start; }
  th {
    border: solid 1px black; }
  tr {
    border: solid 1px black; }
  td {
    border: solid 1px black;
    padding: 20px; }
  .pdc2 {
    text-align: center;
    width: 90%;
    padding: 5%;
    margin-left: 0;
    margin-top: 10%;
    margin-bottom: 10%; }
  #carouselExampleInterval {
    height: 40% !important; }
  .grid {
    margin: 0 !important;
    max-width: 100% !important; }
  .card2 {
    margin-right: 40%; }
  #imgcrsl {
    height: 400px; }
  #-form {
    text-align: center !important; }
  .btnn, .btn__section {
    margin: auto; }
  #carouselExampleDark {
    width: 70%;
    margin-left: 70px !important;
    margin-top: 100px;
    align-self: center; }
  legend {
    margin-left: 0%; }
  .card__name {
    margin-right: 25%; }
  .navbar-toggler {
    width: 45px;
    height: 45px;
    margin: 0 !important;
    padding: 0; }
  .offcanvas-body {
    width: 100% !important; }
  .navbar-toggler-icon {
    width: 35px !important;
    height: 30px !important; }
  body {
    background-image: none; }
  .menu {
    margin-left: 0;
    width: 100% !important;
    height: 25%;
    padding-top: 15%; }
  .menu2 {
    display: none;
    width: 100%;
    height: 20vh; }
  .d-block {
    height: 400px;
    overflow: hidden; }
  .accordion-body {
    width: 100%;
    z-index: 1 !important; }
  footer {
    margin-top: 60%;
    position: relative; }
  table {
    margin-left: 8%; }
  ul {
    margin-left: 0%; }
  .margin {
    margin-top: 20%; }
  #visa {
    width: 50px;
    margin-left: 0px; }
  #visa2 {
    width: 50px;
    display: inline-block; }
  .marginaccordion {
    margin-top: 80% !important; }
  .btn__section {
    padding-bottom: 0%;
    width: 10vh;
    height: 50px;
    margin-top: 30px;
    margin-left: 10px; }
  .card__image2 {
    margin: auto; }
  .card__description {
    margin-top: 10px;
    text-align: center;
    margin-left: 0px; }
  .card__name2 {
    margin-left: 0; }
  .aboutus {
    margin-top: 80% !important;
    padding-top: 60px;
    line-height: 50px;
    height: 85%;
    font-size: large; }
  .imgst {
    margin-top: 70%;
    width: 80px;
    height: 80px;
    margin-left: 40%; } }

.animate__heartBeat {
  animation-iteration-count: infinite; }

nav ul {
  padding-left: 160px; }
  nav ul li {
    font-size: 16px;
    color: white; }
    nav ul li a {
      display: inline;
      color: #fff;
      text-decoration: none; }

nav ul li:hover {
  background: rgba(18, 18, 18, 0.538); }

.offcanvas-body {
  background-color: black; }

#navbarr {
  margin-top: 50px; }

.nav-item {
  height: 80px; }

#nav-link {
  font-size: large;
  text-align: center;
  font-family: "libre baskerbille italic";
  padding-top: 20px; }

#fondo {
  background-color: #ad5f89;
  border-color: #ad5f89; }

#volveralI {
  margin-left: 45%; }

#VaI {
  margin-top: 50px;
  margin-bottom: 50px; }

#contentt {
  margin-left: 184px; }

#volveralI {
  margin-left: 48%; }

#VaI {
  margin-top: 50px;
  margin-bottom: 50px; }

.arriba {
  width: 60px;
  margin-left: 15px;
  margin-right: 90%;
  position: fixed;
  margin-top: 500px;
  z-index: 2;
  filter: opacity(0.5) drop-shadow(0 0 0 white); }
